.rdp {
	--rdp-cell-size: 40px;
	--rdp-accent-color: #d92b26;
	--rdp-background-color: #242424;
	--rdp-accent-color-dark: #3003e1;
	--rdp-background-color-dark: #180270;
	--rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
	--rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */

	margin: 1em;
}

.rdp-table {
	margin: 0;
	max-width: calc(var(--rdp-cell-size) * 7);
	border-collapse: collapse;
	background-color: #242424;
	border-radius: 12px;
}

.rdp-months {
	display: flex;
	background-color: #242424;
	border-radius: 12px;
}
